<section id="main-slider">
      <div class="main-slider-container">
        <!-- Arkaplan resmi -->
        <img
          src="assets/images/slide1.png"
          alt="Background Image"
          class="background-image"
        />
        <!-- Sol bölüm -->
        <div class="main-slide-left">
          <p class="next-webinar">NEXT WEBINAR</p>
          <h1 class="event-name">
            <em>EVENT NAME</em> it amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor
          </h1>
          <p class="description">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod
          </p>
          <p class="date">Wednesday, 25 February 2021</p>

          <!-- Geri sayım kutuları -->
          <div id="countdown">
            <div class="time-box">
              <span id="days">0</span>
              <p>Days</p>
            </div>
            <div class="time-box">
              <span id="hours">0</span>
              <p>Hours</p>
            </div>
            <div class="time-box">
              <span id="minutes">0</span>
              <p>Minutes</p>
            </div>
            <div class="time-box">
              <span id="seconds">0</span>
              <p>Seconds</p>
            </div>
          </div>
        </div>

        <!-- Sağ bölüm -->
        <div class="main-slide-right">
          <button class="login-button"></button>
          <button class="register-button"></button>
        </div>
      </div>
    </section>